.header {
  display: flex;
  background-color: #1f2937;
  align-items: center;
  justify-content: space-between;
}

.header-links {
  margin-right: 50px;
  display: flex;
  font-size: 18px;
  list-style-type: none;
}

.header-logo {
  font-size: 24px;
  color: #f9faf8;
  margin-left: 50px;
}

a {
  text-decoration: none;
  color: #e5e7eb;
  padding: 10px;
}

body {
  margin: auto;
  font-family: Roboto, Helvetica, sans-serif;
}